@media (max-width: 800px){
    body {
        background-image: url('w=600&h=600&r=16888.jpg');
      }
}
p {
        font-size: 500%;
        text-align:center;
}
@media (min-width: 800px){
body {
    background-image: url('EdjnxMyq_400x400.jpg');
}
}